.why-us__item__icon, .arrow-preview,
.arrow-next {
  width: 60px;
  height: 60px;
  border: 1px solid #DBE3FF;
  border-radius: 50%;
}

.arrow-next:hover, .arrow-preview:hover {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #4269F4;
  border-radius: 50%;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

img {
  vertical-align: top;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #343434;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  line-height: 19px;
}
a:hover {
  color: #6184FF;
}

@font-face {
  font-family: "Manrope-Regular";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope-Bold";
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.page {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 50px;
  position: relative;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.logo {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
}

.description {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  line-height: 16px;
  font-size: 0.75rem;
  color: #878787;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px 100px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px 20px;
}
.box:last-child {
  gap: 0px 44px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.social__item {
  list-style: none;
}
.social__icon {
  width: 24px;
  height: 24px;
}
.social__icon_telega {
  border-radius: 50%;
  background-image: linear-gradient(30deg, #007DBB, #37BBFE);
}
.social__icon_whatsapp {
  border-radius: 50%;
  background-color: #25D366;
}
.social__icon_mail {
  width: 16px;
  height: 13px;
}
.social__icon_phone {
  width: 16.5px;
  height: 16.5px;
}
.social__icon_arrow {
  width: 14px;
  height: 14px;
}
.social__icon_enter {
  width: 14px;
  height: 16px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  list-style: inside;
}
.phone__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.phone__item:last-child::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: #343434;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  translate: -300% -50%;
}
.phone__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  line-height: 22px;
  font-size: 1rem;
}

.phone-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.phone-contact_mobile {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 40px;
  background-color: #F9F9F9;
  border-radius: 100px;
  gap: 39px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 39px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__link {
  font-size: 0.875rem;
}

.mail-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  line-height: 22px;
  font-size: 1rem;
}

.enter-sdo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  font-size: 0.875rem;
  padding: 0px 5px;
}

.burger {
  display: none;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.burger__line {
  display: block;
  position: absolute;
  top: 50%;
  translate: 0% -50%;
  width: 100%;
  height: 2px;
  background-color: #343434;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.burger__line::before {
  content: "";
  display: block;
  position: absolute;
  top: -500%;
  width: 100%;
  height: 2px;
  background-color: #343434;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.burger__line::after {
  content: "";
  display: block;
  position: absolute;
  top: 500%;
  width: 100%;
  height: 2px;
  background-color: #343434;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.courses-for-medical {
  background-color: #F5F7FE;
  border-radius: 50px;
  padding: 40px 50px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.courses-for-medical__title {
  font-family: "Manrope-Medium", sans-serif;
  font-size: clamp(2rem, 1.707rem + 1.3vw, 2.75rem);
  line-height: clamp(2.375rem, 2.13rem + 1.09vw, 3rem);
  font-weight: 500;
}
.courses-for-medical__desc {
  font-family: "Manrope-Regular", sans-serif;
  font-size: clamp(1rem, 0.951rem + 0.22vw, 1.125rem);
  line-height: clamp(1.375rem, 1.326rem + 0.22vw, 1.5rem);
  font-weight: 400;
}
.courses-for-medical__list {
  list-style: inside;
  list-style-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0C12.1423 0 15.5 3.35775 15.5 7.5C15.5 11.6423 12.1423 15 8 15C3.85775 15 0.5 11.6423 0.5 7.5C0.5 3.35775 3.85775 0 8 0ZM10.415 5.2275L7.0625 8.58L5.585 7.1025C5.47837 7.00314 5.33733 6.94905 5.19161 6.95162C5.04588 6.95419 4.90684 7.01322 4.80378 7.11628C4.70072 7.21934 4.64169 7.35838 4.63912 7.50411C4.63655 7.64983 4.69064 7.79087 4.79 7.8975L6.665 9.7725C6.77047 9.87784 6.91344 9.93701 7.0625 9.93701C7.21156 9.93701 7.35453 9.87784 7.46 9.7725L11.21 6.0225C11.2653 5.971 11.3096 5.9089 11.3403 5.8399C11.3711 5.7709 11.3876 5.69642 11.3889 5.62089C11.3903 5.54536 11.3764 5.47034 11.3481 5.4003C11.3198 5.33026 11.2777 5.26664 11.2243 5.21322C11.1709 5.15981 11.1072 5.1177 11.0372 5.08941C10.9672 5.06112 10.8921 5.04722 10.8166 5.04856C10.7411 5.04989 10.6666 5.06642 10.5976 5.09716C10.5286 5.12791 10.4665 5.17224 10.415 5.2275Z' fill='%23CFD4E5'/%3E%3C/svg%3E%0A");
  font-family: "Manrope-Regular", sans-serif;
  font-size: clamp(0.875rem, 0.826rem + 0.22vw, 1rem);
  line-height: clamp(1.188rem, 1.114rem + 0.33vw, 1.375rem);
  font-weight: 400;
  margin: 4px 0px 11px;
}
.courses-for-medical__item:not(:last-child) {
  margin-bottom: 7px;
}
.courses-for-medical__pic {
  width: clamp(12.875rem, 8.375rem + 20vw, 24.375rem);
  position: absolute;
  bottom: -40px;
}
.courses-for-medical__img {
  width: 100%;
  height: 100%;
}

.doctor-man {
  left: -40px;
}

.doctor-woman {
  width: clamp(9.875rem, 6.451rem + 15.22vw, 18.625rem);
  left: 207px;
}

.list-item {
  margin-left: 9px;
}

.accent {
  color: #4269F4;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  position: relative;
  min-width: 386px;
}
.container_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.btn {
  width: 188px;
  height: 58px;
  border: none;
  border-radius: 10px;
  background-color: #4269F4;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 500;
  color: #FFF;
  cursor: pointer;
}
.btn:hover {
  background-color: #6184FF;
}

.our-areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.title-section {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}

.desc-section {
  padding: 0px 333px;
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #878787;
}

.offers {
  width: 100%;
  margin-top: 1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border-top: 1px solid #D7D7D7;
  padding: 40.5px 100px;
  position: relative;
}
.offers__item {
  max-width: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 20px;
}
.offers__item:hover .offers__head {
  color: white;
  background-color: #4269F4;
}
.offers__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 211.5px;
  background-color: #D7D7D7;
}
.offers__head {
  max-width: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  cursor: default;
  width: 380px;
  height: 50px;
  border-radius: 10px;
  background-color: #F5F7FE;
}
.offers__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background-color: #F9F9F9;
  padding: 25px 45px;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.offers__block {
  margin-top: 5px;
}

.title-offers {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.desc-offers,
.property {
  color: #878787;
}

.desc-offers {
  margin-bottom: 20px;
}

.value {
  margin-top: 2px;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.post-desc {
  color: #878787;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.btn_offers {
  margin-top: 5px;
}

.arrow-preview,
.arrow-next {
  position: absolute;
  top: 343px;
  color: #4269F4;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.arrow-preview {
  left: 0px;
}
.arrow-preview:hover {
  color: white;
}

.arrow-next {
  right: 0px;
}
.arrow-next:hover {
  color: white;
}

.exit-point {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 40px 0px;
  border-radius: 50px;
  background-color: #F5F7FE;
  margin-top: 5px;
}

.exit-point__title {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}

.exit-point__desc {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #343434;
}

.btn_exit-point {
  margin-top: 20px;
}

.why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.why-us__body {
  width: 100%;
  margin-top: 14.5px;
  padding-top: 40.5px;
  border-top: 1px solid #D7D7D7;
  display: grid;
  grid-column-gap: 20px;
  justify-items: center;
  grid-template-columns: 1fr 441px 1fr;
  grid-template-areas: "A C D" "B C E";
}
.why-us__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.why-us__item__pic {
  width: 441px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f5f7fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  overflow: hidden;
}
.why-us__item__img {
  width: 53%;
}
.why-us__item__icon {
  border-color: #F5F7FE;
  background-color: #F5F7FE;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.why-us__item__title {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.why-us__item__desc {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #878787;
}
.why-us__item_1 {
  grid-area: A;
}
.why-us__item_2 {
  grid-area: B;
}
.why-us__item_3 {
  grid-area: C;
}
.why-us__item_4 {
  grid-area: D;
}
.why-us__item_5 {
  grid-area: E;
}
.why-us__item_5 .why-us__icon {
  width: 17px;
  aspect-ratio: 1;
}
.why-us__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.why-us__block_1 {
  padding: 0px 20px 0px 0px;
}
.why-us__block_1 .why-us__item__title {
  padding: 0px 35px;
}
.why-us__block_2 {
  padding: 5px 25px 0px 5px;
}
.why-us__block_2 .why-us__item__desc {
  padding: 0px 50px;
}
.why-us__block_3 {
  padding: 0px 38px 0px 14px;
}
.why-us__block_3 .why-us__item__title {
  padding: 0px 20px;
}
.why-us__block_3 .why-us__item__desc {
  padding: 0px 20px;
}
.why-us__block_4 {
  padding: 5px 25px 0px 5px;
}
.why-us__icon {
  width: 26px;
  aspect-ratio: 1;
}

.step-by-step {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.step-by-step__items {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 290px;
  position: relative;
}

.title-step-by-step {
  text-align: center;
  padding: 0px 170px;
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}
.title-step-by-step__mod {
  color: #4269F4;
}

.item-block,
.packet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  width: 0;
}
.item-block__even,
.item-block .packet,
.packet__even,
.packet .packet {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.item-block__icon,
.packet__icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #4269F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-block__icon__pic,
.packet__icon__pic {
  width: 30px;
  height: 30px;
}
.item-block__title,
.packet__title {
  margin-top: 5px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  white-space: nowrap;
}
.item-block__desc,
.packet__desc {
  font-family: "Manrope-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #878787;
  display: block;
  width: 250px;
}
.item-block__desc_2,
.packet__desc_2 {
  width: 365px;
}
.item-block__desc_3,
.packet__desc_3 {
  width: 300px;
}
.item-block__transition,
.packet__transition {
  position: absolute;
  top: 30px;
  z-index: -1;
}
.item-block__transition_1,
.packet__transition_1 {
  left: 83px;
  rotate: 2deg;
}
.item-block__transition_2,
.packet__transition_2 {
  left: 306px;
  rotate: -3deg;
}
.item-block__transition_3,
.packet__transition_3 {
  left: 577px;
  rotate: 3deg;
}
.item-block__transition_4,
.packet__transition_4 {
  left: 798px;
  rotate: -4deg;
}

.packet_2 {
  padding-right: 25px;
}

.packet_4 {
  padding-left: 12px;
}

@media (max-width: 988px) {
  .courses-for-medical {
    gap: 170px 0px;
  }
  .doctor-man {
    left: 470px;
  }
  .doctor-woman {
    left: 290px;
  }
}
@media (max-width: 910px) {
  .courses-for-medical {
    gap: 300px 0px;
  }
  .doctor-man {
    left: 40%;
  }
  .doctor-woman {
    left: 20%;
  }
}
@media (max-width: 875px) {
  .page {
    padding: 20px;
  }
}
@media (max-width: 815px) {
  .block {
    gap: 0px 40px;
  }
  .nav {
    padding: 10px 20px;
  }
  .menu {
    gap: 19px;
  }
}
@media (max-width: 695px) {
  .description {
    display: none;
  }
  .mail-link {
    display: none;
  }
  .box:last-child {
    gap: 20px;
  }
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    translate: -100px 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 5px 0px;
    background: rgba(249, 249, 249, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .phone__item:last-child::before {
    display: none;
  }
  .phone-layout {
    position: fixed;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    z-index: 1;
  }
  .phone-contact {
    display: none;
    position: relative;
    white-space: nowrap;
  }
  .phone-contact_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .phone-contact_mobile:hover .social__icon_arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .phone-contact_mobile:hover .phone-layout {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  .nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: rgba(249, 249, 249, 0.9);
    padding: 0px 0px;
    border-radius: 0px;
    z-index: 1;
  }
  .nav.open-menu {
    left: 0%;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burger {
    display: block;
  }
  .burger__line.open-btn {
    height: 0px;
  }
  .open-btn::after {
    top: 0%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .open-btn::before {
    top: 0%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .page.scroll-hidden {
    position: fixed;
  }
}
@media (max-width: 570px) {
  .courses-for-medical {
    margin-top: 20px;
    padding: 0px;
    background: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .courses-for-medical__item {
    white-space: nowrap;
  }
  .container {
    padding: 30px;
    background-color: #F5F7FE;
    border-radius: 30px;
    margin: 0px;
    min-width: 0px;
  }
  .container_photo {
    min-height: 280px;
  }
  .list-item {
    margin-left: 2px;
  }
  .mobile-delete {
    display: none;
  }
  .courses-for-medical__pic {
    bottom: 0px;
  }
  .doctor-man {
    left: 10px;
  }
  .doctor-woman {
    left: 145px;
  }
}/*# sourceMappingURL=styles.css.map */