.license {
  padding: 50px 146px 50px 100px;
  background-color: $clrFrmInfgraf;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  &__foto {
    min-width: 420px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    &__pic {
      width: 240px;
      height: 300px;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 0px;
  }
  &__title {
    font-family: "Manrope-Medium", sans-serif;
    font-size: clamp(1.5rem, 1.207rem + 1.304vw, 2.25rem);
    font-weight: 500;
    line-height: clamp(2.063rem, 1.671rem + 1.739vw, 3.063rem);
  }
  &__desc {
    margin-top: 20px;
    font-family: "Manrope-Regular", sans-serif;
    font-size: clamp(0.875rem, 0.826rem + 0.217vw, 1rem);
    font-weight: 400;
    line-height: clamp(1.188rem, 1.114rem + 0.326vw, 1.375rem);
    color: $clrSpn;
  }
  &__btn {
    max-width: 344px;
    min-width: 320px;
    height: 61px;
    font-family: "Manrope-Medium", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    &__arrow {
      margin-left: 10px;
    }
  }
}

.license-prev,
.license-next {
  position: absolute;
  bottom: 121px;
  right: 1px;
}

.license-prev {
  left: 1px;
}
