.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@import "courses-for-medical";
@import "our-destinations";
@import "why-us";
@import "step-by-step";
@import "document-preview";
@import "order-consultation";
@import "about";
