@media (max-width: 1295px) {
  .our-areas {
    gap: 10px;
  }
  .offers {
    padding: 0px 0px 20px;
    justify-content: space-between;
    border: none;
    &__container {
      justify-content: center;
    }
    margin-top: 10px;
  }
  .arrow-preview,
  .arrow-next {
    position: relative;
    inset: 0px 0px;
  }
  .offers-controls {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .title-section {
    text-align: center;
  }
  .document-preview__body {
    justify-content: space-evenly;
    border: none;
    padding-top: 0px;
  }
  .document-preview {
    margin-top: 0px;
  }
  .study__tabs {
    border: none;
    padding-top: 0px;
  }
  .our-clients__body {
    border: none;
    margin-top: 0px;
  }
  .our-clients__list {
    width: 100%;
    justify-content: flex-start;
    overflow: hidden;
  }
  .contact__body {
    border: none;
    padding-top: 0px;
    gap: 10px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1286px) {
  .step-by-step__items {
    row-gap: 15px;
  }
  .item-block {
    &_1 {
      order: -4;
    }
    &_2 {
      order: -2;
    }
    &_3 {
      order: 0;
    }
    &_4 {
      order: -3;
    }
    &_5 {
      order: -1;
    }
    &__transition {
      display: none;
    }
    &__desc_1,
    .item-block__desc_2,
    .item-block__desc_3,
    .item-block__desc_4,
    .item-block__desc_5 {
      position: static;
    }
  }
  .packet {
    position: static;
  }
  .seo-block__text {
    padding: 30px;
  }
}

@media (max-width: 1225px) {
  .review-controls {
    display: flex;
    gap: 10px;
  }
  .review-prev,
  .review-next {
    position: static;
  }
}

@media (max-width: 1170px) {
  .desc-section {
    padding: 0px 275px;
  }
  .why-us__body {
    row-gap: 20px;
    padding: 0px 0px;
    border: none;
  }
  .why-us__item_2 {
    order: -1;
  }
  .why-us__item__pic {
    background-color: white;
  }
  .why-us__block_1,
  .why-us__block_2,
  .why-us__block_3,
  .why-us__block_4 {
    position: static;
  }
  .why-us__item__desc {
    z-index: 1;
  }
}

@media (max-width: 1096px) {
  .offers__item::before {
    top: 100.5px;
  }
  .order-consultation__pic {
    display: none;
  }
  .order-form {
    justify-content: space-evenly;
    padding: 50px;
    gap: 25px;
  }
  .about {
    flex-wrap: wrap;
    &__pic {
      order: 1;
    }
    &__num {
      align-items: center;
      &_right {
        justify-self: normal;
      }
      &__desc {
        text-align: center;
      }
    }
  }
  .about__content {
    min-width: 100%;
    padding: 30px;
  }
  .about__info {
    padding: 30px;
    row-gap: 30px;
    justify-items: center;
    align-content: center;
    width: 100%;
    justify-content: space-evenly;
  }
  .payment-options__body {
    padding-top: 0px;
    border: none;
  }
  .license {
    padding: 20px 20px 0px;
  }
  .answers-to-questions {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__title {
      text-align: center;
      margin-top: 0px;
    }
  }
  .block-question {
    padding: 15px 20px;
  }
  .block-answer {
    padding: 20px;
  }
  .contact__type {
    max-width: 100%;
  }
}

@media (max-width: 1080px) {
  .payment-options__body {
    justify-content: space-evenly;
  }
}

@media (max-width: 1055px) {
  .title-step-by-step {
    padding: 0px 50px;
  }
}

@media (max-width: 1050px) {
  .desc-section {
    padding: 0px 220px;
  }
  .main {
    gap: 40px;
  }
  .seo-block__foto {
    display: none;
  }
}

@media (max-width: 988px) {
  .doctor-man,
  .doctor-woman {
    display: none;
  }
}

@media (max-width: 930px) {
  .desc-section {
    padding: 0px 160px;
  }
  .order-form {
    flex-direction: column;
    align-items: center;
  }
  .license {
    flex-wrap: wrap-reverse;
    justify-content: center;
    &__desc {
      margin-top: 0px;
      text-align: center;
    }
  }
  .license__text {
    min-width: 100%;
    align-items: center;
    padding: 0px;
    gap: 10px;
  }
}

@media (max-width: 910px) {
  .courses-for-medical {
    gap: 300px 0px;
  }
  .doctor-man {
    display: block;
    left: 40%;
  }
  .doctor-woman {
    display: block;
    left: 20%;
  }
}

@media (max-width: 875px) {
  .page {
    padding: 20px;
  }
  .review__item:last-child {
    display: none;
  }
}

@media (max-width: 836px) {
  .packet {
    flex-direction: row;
    padding: 0px 0px;
    justify-content: flex-start;
    text-align: start;
  }
}

@media (max-width: 815px) {
  .block {
    gap: 0px 40px;
  }
  .nav {
    padding: 10px 20px;
  }
  .menu {
    gap: 19px;
  }
}

@media (max-width: 778px) {
  .pay-to-mail,
  .pay-to-requisites,
  .pay-to-cash,
  .pay-to-credit {
    min-width: 252px;
  }
}

@media (max-width: 740px) {
  .desc-section {
    padding: 0px 110px;
  }
  .about__pic {
    display: none;
  }
}

@media (max-width: 716px) {
  .why-us__item__pic {
    position: static;
  }
  .why-us__item_2 {
    display: flex;
    justify-content: center;
  }
  .why-us__item__pic {
    background-color: $clrFrmInfgraf;
  }
}

@media (max-width: 702px) {
  .offers__container {
    display: flex;
  }
  .offers__body:not(:first-child) {
    display: none;
  }
}

@media (max-width: 695px) {
  .description {
    display: none;
  }
  .mail-link {
    display: none;
  }
  .box:last-child {
    gap: 20px;
  }
  .phone {
    display: flex;
    flex-direction: column;
    translate: -100px 0px;
    width: fit-content;
    gap: 5px 0px;
    background: rgba(249, 249, 249, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    &__item:last-child::before {
      display: none;
    }
  }
  .phone-layout {
    position: fixed;
    transform: scale(0);
    z-index: 1;
  }
  .phone-contact {
    display: none;
    position: relative;
    white-space: nowrap;
    &_mobile {
      display: flex;
      &:hover .social__icon_arrow {
        transform: rotate(180deg);
      }
      &:hover .phone-layout {
        transform: scale(1);
      }
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgba(249, 249, 249, 0.9);
    padding: 0px 0px;
    border-radius: 0px;
    &.open-menu {
      left: 0%;
    }
    z-index: 1;
  }
  .menu {
    flex-direction: column;
  }
  .burger {
    display: block;
    &__line.open-btn {
      height: 0px;
    }
  }
  .open-btn::after {
    top: 0%;
    transform: rotate(45deg);
  }
  .open-btn::before {
    top: 0%;
    transform: rotate(-45deg);
  }
  .page.scroll-hidden {
    width: 100%;
    position: fixed;
  }
  .desc-section {
    padding: 0px 80px;
  }
}

@media (max-width: 662px) {
  .title-step-by-step {
    padding: 0px 0px;
  }
  .order-form {
    padding: 30px;
    gap: 20px;
  }
  .study__body {
    padding: 20px;
    gap: 20px;
  }
  .study__tabs {
    gap: 10px;
  }
  .list-of-documents {
    gap: 20px;
    &__items {
      flex-direction: column;
      gap: 10px;
    }
  }
  .review__item:nth-child(3) {
    display: none;
  }
  .review {
    gap: 10px;
  }
  .foot {
    margin-top: 20px;
    gap: 15px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 572px) {
  .courses-for-medical {
    margin-top: 20px;
    padding: 0px;
    background: none;
    flex-direction: column;
    gap: 10px;
    &__item {
      white-space: nowrap;
    }
  }
  .container {
    padding: 30px 13px 30px 30px;
    background-color: $clrFrmInfgraf;
    border-radius: 30px;
    margin: 0px;
    min-width: 0px;
    &_photo {
      min-height: 280px;
    }
  }
  .list-item {
    margin-left: 2px;
  }
  .mobile-delete {
    display: none;
  }
  .courses-for-medical__pic {
    bottom: 0px;
  }
  .desc-section {
    padding: 0px 0px;
  }
  .exit-point {
    padding: 30px 35px;
  }
  .step-by-step__items {
    margin-top: 5px;
    padding: 0px 30px 0px 48px;
  }
}

@media (max-width: 545px) {
  .study__tabs {
    flex-direction: column;
  }
  .tab-item {
    width: 100%;
  }
  .study__body__table {
    border-spacing: 20px 0px;
    padding: 0px 20px;
  }
  .table-row .table-data:nth-child(3) {
    display: none;
  }
  .table-row .table-data:nth-child(4) {
    display: none;
  }
  .answers-to-questions__title {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .about__info {
    min-width: 100%;
    padding: 20px;
  }
}

@media (max-width: 508px) {
  .about__pic {
    display: flex;
    order: 0;
  }
}

@media (max-width: 500px) {
  .license__foto {
    min-width: 0;
    flex-direction: column;
    gap: 10px;
  }
  .license-prev,
  .license-next {
    position: static;
  }
  .license-control {
    display: flex;
    gap: 10px;
  }
  .review__block {
    justify-content: flex-start;
    overflow: hidden;
  }
  .review__item {
    min-width: 190px;
  }
}

@media (max-width: 430px) {
  .doctor-man {
    left: 5px;
  }
  .doctor-woman {
    left: 140px;
  }
  .offers__head {
    flex-direction: column;
    gap: 10px;
  }
  .offers__name {
    width: 100%;
    min-width: 313px;
  }
  .item-block__title {
    white-space: wrap;
    width: 170px;
  }
  .item-block__transition {
    display: block;
    &__line {
      width: 100%;
    }
    &_1 {
      width: 130px;
      left: -60px;
      rotate: -123deg;
      top: 14px;
    }
    &_2 {
      width: 130px;
      left: -60px;
      rotate: -60deg;
      top: 160px;
    }
    &_3 {
      width: 130px;
      left: -62px;
      rotate: -124deg;
      top: 305px;
    }
    &_4 {
      width: 130px;
      left: -59px;
      rotate: -61deg;
      top: 453px;
    }
  }
  .license {
    background-color: white;
  }
}

@media (max-width: 360px) {
  .item-block__transition {
    display: block;
    &__line {
      width: 100%;
    }
    &_1 {
      width: 130px;
      left: -15px;
      rotate: -123deg;
      top: 25px;
    }
    &_2 {
      width: 145px;
      left: -20px;
      rotate: -60deg;
      top: 183px;
    }
    &_3 {
      width: 150px;
      left: -23px;
      rotate: -125deg;
      top: 347px;
    }
    &_4 {
      width: 150px;
      left: -19px;
      rotate: -64deg;
      top: 515px;
    }
  }
  .seo-block {
    flex-direction: column;
    gap: 0px;
  }
  .seo-block__text {
    padding-bottom: 0px;
  }
  .seo-block__foto {
    display: block;
  }
}
