.our-areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title-section {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}

.desc-section {
  padding: 0px 333px;
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $clrSpn;
}

.offers {
  width: 100%;
  margin-top: 1.5px;
  display: flex;
  gap: 20px;
  border-top: 1px solid $clrLnBrdr;
  padding: 40.5px 100px;
  position: relative;
  &__item {
    max-width: 313px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    &:hover .offers__head {
      color: white;
      background-color: $clrAccnt;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 211.5px;
      background-color: $clrLnBrdr;
    }
  }
  &__head {
    max-width: 313px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Manrope-Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    cursor: default;
    @include tab;
  }
  &__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    background-color: $clrBckgrndTxt;
    padding: 25px 45px;
    font-family: "Manrope-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  &__block {
    margin-top: 5px;
  }
}

.title-offers {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.desc-offers,
.property {
  color: $clrSpn;
}

.desc-offers {
  margin-bottom: 20px;
}

.value {
  margin-top: 2px;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.post-desc {
  color: $clrSpn;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.btn_offers {
  margin-top: 5px;
}

.arrow-preview,
.arrow-next {
  position: absolute;
  top: 343px;
  @extend %rwsSz;
  color: $clrAccnt;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.arrow-preview {
  left: 0px;
  &:hover {
    @extend %rrwsSzHvr;
    color: white;
  }
}

.arrow-next {
  right: 0px;
  &:hover {
    @extend %rrwsSzHvr;
    color: white;
  }
}

.exit-point {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 0px;
  border-radius: 50px;
  background-color: $clrFrmInfgraf;
  margin-top: 5px;
}

.exit-point__title {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}

.exit-point__desc {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $clrTxt;
}

.btn_exit-point {
  margin-top: 20px;
}
