.our-areas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title-section {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 1.207rem + 1.304vw, 2.25rem);
  line-height: clamp(2.063rem, 1.671rem + 1.739vw, 3.063rem);
}

.desc-section {
  padding: 0px 333px;
  text-align: center;
  font-family: "Manrope-Regular", sans-serif;
  font-size: clamp(0.875rem, 0.826rem + 0.217vw, 1rem);
  font-weight: 400;
  line-height: clamp(1.188rem, 1.114rem + 0.326vw, 1.375rem);
  color: $clrSpn;
}

.offers {
  width: 100%;
  margin-top: 1.5px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid $clrLnBrdr;
  padding: 40.5px 100px 20px;
  gap: 20px;
  &__container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__head {
    display: flex;
    gap: 16px;
  }
  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Manrope-Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    flex-shrink: 1;
    cursor: default;
    @include tab;
    &:hover {
      color: white;
      background-color: $clrAccnt;
    }
  }
  &__body {
    min-width: 313px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: $clrBckgrndTxt;
    padding: 25px 0px;
    font-family: "Manrope-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    flex: 1 0 0;
    position: relative;
  }
  &__block {
    margin-top: 5px;
    padding: 0px 55px;
    &__start {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0px 55px;
      width: 100%;
      border-bottom: 1px solid #d7d7d7;
      box-sizing: border-box;
    }
  }
}

.title-offers {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.desc-offers,
.property {
  color: $clrSpn;
}

.desc-offers {
  margin-bottom: 20px;
}

.value {
  margin-top: 2px;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.post-desc {
  color: $clrSpn;
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  padding: 0px 55px;
}

.btn_offers {
  margin-top: 5px;
}

.control-arrow {
  @extend %rwsSz;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clrAccnt;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  &:hover {
    @extend %rrwsSzHvr;
    color: white;
  }
}

.arrow-preview {
  position: absolute;
  top: 343px;
  left: 0px;
}

.arrow-next {
  position: absolute;
  top: 343px;
  right: 0px;
}

.exit-point {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px 0px;
  border-radius: 50px;
  background-color: $clrFrmInfgraf;
  margin-top: 5px;
}

.exit-point__title {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-size: clamp(1.5rem, 1.207rem + 1.304vw, 2.25rem);
  line-height: clamp(2.063rem, 1.671rem + 1.739vw, 3.063rem);
  margin-left: 10px;
  text-align: center;
}

.exit-point__desc {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-size: clamp(1rem, 0.951rem + 0.217vw, 1.125rem);
  line-height: clamp(1.375rem, 1.302rem + 0.326vw, 1.563rem);
  color: $clrTxt;
  text-align: center;
}

.btn_exit-point {
  margin-top: 20px;
}
