*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

img {
	vertical-align: top;
}

html {
  font-size: $fntSz;
}

a {
  text-decoration: none;
  color: #343434;
  font-family: 'Manrope-Regular', sans-serif;
  font-weight: 400;
  line-height: 19px;
  &:hover {
    color: $clrHvr;
  }
}