// ----------color----------
$clrSpn: #878787;
$clrLnBrdr: #D7D7D7;
$clrBckgrndTxt: #F9F9F9;
$clrTxt: #343434;
$clrAccnt: #4269F4;
$clrHvr: #6184FF;
$clrFrmInfgraf: #F5F7FE;
$clrIntrActvBrdr: #DBE3FF;
$clrIcns: #CFD4E5;

// -------------font-size----------
$fntSz: 16px;
$fntSzTtlH1: 44px;
$fntSzTtlH2: 18px;
$fntSzTtlH3: 16px;
$fntSzTtlH4: 14px;
$fntSzTtlH5: 12px;