// ----------color----------
$clrSpn: #878787;
$clrLnBrdr: #d7d7d7;
$clrBckgrndTxt: #f9f9f9;
$clrTxt: #343434;
$clrAccnt: #4269f4;
$clrHvr: #6184ff;
$clrFrmInfgraf: #f5f7fe;
$clrIntrActvBrdr: #dbe3ff;
$clrIcns: #cfd4e5;

// -------------font-size----------
$fntSz: 16px;
$fntSzTtlH1: 44px;
$fntSzTtlH2: 18px;
$fntSzTtlH3: 16px;
$fntSzTtlH4: 14px;
$fntSzTtlH5: 12px;
